* {
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  padding: 0;
}
.head {
  margin: 20px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.bi {
  width: 60px;
  margin: 10px;
}
.container {
  max-width: 1280px;
  padding: 20px;
  text-align: center;
}
.see {
  background: #003f62;
  color: white;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 20px;
}
.input-group {
  border-radius: 10px;
  width: 400px;
  display: flex;
}
.circle {
  color: #eda415;
}
.btn {
  border-radius: 10px;
}
.bi-heart {
  color: white;
}
.bi-cart3 {
  color: white;
}
