* {
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  padding: 0;
}
.head {
  margin: 20px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.bi {
  width: 40px;
  margin: 10px;
}
